<section class="central padding">
  <ugl-page-title [firstTitle]="'Services'" [secondTitle]="'Documentation'"></ugl-page-title>
  <div uglGrid [grid]="true" [col]="3" [gap]="2">
    <ugl-button [id]="'modal-button'" [style]="'border'" [color]="'yellow'" [wave]="true" [size]="'small'"
                    (click)="openModal()" [title]="'Modal'">Open Modal Service</ugl-button>
  </div>
</section>

<ugl-modal (cancelClick)="onCancelModalClick()"
           (confirmClick)="onConfirmModalClick()"
           [cancelButtonText]="'CANCEL'"
           [confirmButtonText]="'CONFIRM'">
