
.visual {
  padding: 1rem;
  background-color: color(_gray, light);

  &.white {
    background-color: color(_others, light);
  }
}

.code {
  color: color(_gray, dark);
  font-weight: 500;
  background-color: color(_gray, extra-light);

  &-block {
    display: block;
    padding: 10px;
    font-weight: 500;
    color: color(_gray, dark);
    border-bottom: 4px solid color(_others, light);
    background-color: color(_gray, extra-light);
  }
}
