<ugl-header [header]="header" (logoutAction)="logout($event)" [logoutText]="'Logout now'" *ngIf="isAutenticated">
  <div uglGrid [grid]="true" [col]="2">
    <ugl-button
      [id]="'test'"
      [size]="'small'"
      [color]="'white'"
      [style]="'fill'"
      [wave]="true"
      [title]="'Ocultar Menu'"
      [type]="'button'"
      (action)="hideMenu()">Ocultar Menu</ugl-button>
  </div>
</ugl-header>

<section class="has-header">
  <div class="container">
    <ugl-card [one]="'Quick Expense'"
              [two]="'Lorem Ipsum'"
              [icon]="'launch'"
              [colorIcon]="'aquamarine'"></ugl-card>

  <ugl-card [one]="'Quick Expense'"
              [icon]="'check'"
              [colorIcon]="'green'"></ugl-card>

  <ugl-card [one]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam obcaecati earum at eligendi ea culpa repudiandae unde laborum fuga maiores exercitationem'"
              [two]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam obcaecati earum at eligendi ea culpa repudiandae unde laborum fuga maiores exercitationem'"
              [three]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam obcaecati earum at eligendi ea culpa repudiandae unde laborum fuga maiores exercitationem'"
              [icon]="'remove_circle_outline'"
              [colorIcon]="'red'"></ugl-card>

  <ugl-card [one]="'Quick Expense'"
              [two]="'Lorem Ipsum'"
              [three]="'Lorem Ipsum Lorem Ipsum'"
              [icon]="icon"
              [colorIcon]="'gray'"
              (actionIcon)="changeIcon()"></ugl-card>

              <ugl-card [one]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam obcaecati earum at eligendi ea culpa repudiandae unde laborum fuga maiores exercitationem'"
                          [two]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam obcaecati earum at eligendi ea culpa repudiandae unde laborum fuga maiores exercitationem'"
                          [three]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam obcaecati earum at eligendi ea culpa repudiandae unde laborum fuga maiores exercitationem'"
                          [icon]="'remove_circle_outline'"
                          [colorIcon]="'red'"></ugl-card>
            
              <ugl-card [one]="'Quick Expense'"
                          [two]="'Lorem Ipsum'"
                          [three]="'Lorem Ipsum Lorem Ipsum'"
                          [icon]="icon"
                          [colorIcon]="'gray'"
                          (actionIcon)="changeIcon()"></ugl-card>

                          <ugl-card [one]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam obcaecati earum at eligendi ea culpa repudiandae unde laborum fuga maiores exercitationem'"
                                      [two]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam obcaecati earum at eligendi ea culpa repudiandae unde laborum fuga maiores exercitationem'"
                                      [three]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam obcaecati earum at eligendi ea culpa repudiandae unde laborum fuga maiores exercitationem'"
                                      [icon]="'remove_circle_outline'"
                                      [colorIcon]="'red'"></ugl-card>
                        
                          <ugl-card [one]="'Quick Expense'"
                                      [two]="'Lorem Ipsum'"
                                      [three]="'Lorem Ipsum Lorem Ipsum'"
                                      [icon]="icon"
                                      [colorIcon]="'gray'"
                                      (actionIcon)="changeIcon()"></ugl-card>
  </div>
</section>

