<ugl-header [header]="header" (logoutAction)="logout($event)" [logoutText]="'Logout now'" *ngIf="isAutenticated">
  <div uglGrid [grid]="true" [col]="2">
    <ugl-button
      [id]="'test'"
      [size]="'small'"
      [color]="'white'"
      [style]="'fill'"
      [wave]="true"
      [title]="'Ocultar Menu'"
      [type]="'button'"
      (action)="hideMenu()">Ocultar Menu</ugl-button>
  </div>
</ugl-header>

<section class="has-header">
  <ugl-form
      (cancelClick)="formAction()"
      (submitClick)="formAction($event)"
      [cancelText]="'Limpar'"
      [submitText]="'Salvar'"
      [ngClass]="'has-header central white'">

      <ugl-page-title [firstTitle]="'Teste do'" [secondTitle]="'Formulário'"></ugl-page-title>

      <ugl-field [label]="'Nova senha'"
                [name]="'newPassword'"
                [required]="true"
                [type]="'password'"
                [message]="'Informe nova senha'"
                [messageRequired]="'Obrigatório'"
                #newPassword>
      </ugl-field>
      <ugl-field [label]="'Confirmação da senha'"
                [name]="'confirmPassword'"
                [required]="true"
                [type]="'password'"
                [message]="'Informe novamente a senha'"
                [messageRequired]="'Obrigatório'"
                #confirmPassword>
      </ugl-field>

      <ugl-select [select]="select" [stylized]="true"></ugl-select>
    </ugl-form>
</section>
