<ugl-header [header]="header" (logoutAction)="logout($event)" [logoutText]="'Logout now'" *ngIf="isAutenticated">
  <div uglGrid [grid]="true" [col]="2">
    <ugl-button
      [id]="'test'"
      [size]="'small'"
      [color]="'white'"
      [style]="'fill'"
      [wave]="true"
      [title]="'Ocultar Menu'"
      [type]="'button'"
      (action)="hideMenu()">Ocultar Menu</ugl-button>
  </div>
</ugl-header>

<div class="main-content has-header">
  <div class="container">
    <ugl-page-title [firstTitle]="'Ugla'" [secondTitle]="'Library'"></ugl-page-title>
    <p>As opções de temas são: <strong>WHITE</strong>, <strong>AQUAMARINE</strong>, <strong>RED</strong>, <strong>GREEN</strong>, <strong>YELLOW</strong>, <strong>GRAY</strong> e <strong>PURPLE</strong></p>
  </div>
</div>
