<h3 [ngClass]="color">Select</h3>

<div uglGrid [grid]="true" [col]="2" [colSm]="1" class="code-area">
  <pre><code [highlight]="html"></code></pre>
  <pre><code [highlight]="html2"></code></pre>
</div>

<div class="visual white" uglGrid [grid]="true" [col]="2" [colSm]="1" [gap]="1">
  <ugl-select
      [select]="select"
      [stylized]="false"
      [zindex]="1"
      [dataTitle]="'Select an option'"
      [direction]="'bottom'"
      (selected)="onSelectedItem($event)">
  </ugl-select>
  <ugl-select
      [select]="select"
      [stylized]="false"
      [zindex]="1"
      [dataTitle]="'Select an option'"
      [direction]="'bottom'"
      [disabled]="true"
      (selected)="onSelectedItem($event)">
  </ugl-select>
</div>

<div uglGrid [grid]="true" [col]="2" [colSm]="1" [gap]="1">
  <div>
    <h4 [ngClass]="color">Attributes</h4>
    <table class="base-table theme-colored-aquamarine">
      <thead>
        <tr>
          <th class="align-left">Attribute</th>
          <th class="align-left">Values</th>
          <th class="align-left">Required</th>
          <th class="align-left">Default</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>select</td>
          <td><b>Select</b> object</td>
          <td>Yes</td>
          <td>n/a</td>
        </tr>
        <tr>
          <td>stylized</td>
          <td>true | false</td>
          <td>No</td>
          <td>false</td>
        </tr>
        <tr>
          <td>zindex</td>
          <td>Number</td>
          <td>No</td>
          <td>2</td>
        </tr>
        <tr>
          <td>dataTitle</td>
          <td>String</td>
          <td>No</td>
          <td>n/a</td>
        </tr>
        <tr>
          <td>direction</td>
          <td>bottom | up</td>
          <td>No</td>
          <td>bottom</td>
        </tr>
        <tr>
          <td>disabled</td>
          <td>true | false</td>
          <td>No</td>
          <td>false</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h4 [ngClass]="color">Events</h4>
    <table class="base-table theme-colored-aquamarine">
      <thead>
        <tr>
          <th class="align-left">Event</th>
          <th class="align-left">Description</th>
          <th class="align-left">Attributes</th>
          <th class="align-left">Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>(selected)</td>
          <td>Dispara o evento assim ao selecionar um item</td>
          <td>$event</td>
          <td>(selected)="onSelectedItem($event)"</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
