.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 25%;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 2px 4px gray;

  h2 {
    text-align: center;
  }

  &.inactive {
    opacity: .5;
    border-color: red;
    box-shadow: none;
  }
}