<ugl-header [header]="header" (logoutAction)="logout($event)" [logoutText]="'Logout now'" *ngIf="isAutenticated">
</ugl-header>

<section class="has-header">
  <div class="container container--central container--white">
    <ugl-page-title [firstTitle]="'Rules'" [secondTitle]="'Test'"></ugl-page-title>

    <div class="cards">
      <div class="card" uglVw>
        <h2>VIEW</h2>
      </div>
      <div class="card" uglEd>
        <h2>EDIT</h2>
      </div>
      <div class="card" uglDe>
        <h2>DELETE</h2>
      </div>
      <div class="card" uglCr>
        <h2>CREATE</h2>
      </div>
    </div>
  </div>
</section>