<h3 class="color-yellow">Datepicker</h3>

<p class="code-block">
  &#60;ugl-datepicker [label]="'Date'"
                  [name]="'date'"
                  [options]="onInitDatepicker()"
                  [message]="'Select a Date'"
                  [required]="true"
                  (onSelectValue)="onChangeFinalDate($event)"
                  #date&#62;&#60;/ugl-datepicker&#62;
</p>

<div class="visual white">
  <ugl-datepicker [label]="'Date'"
                  [name]="'date'"
                  [options]="onInitDatepicker()"
                  [message]="'Select a Date'"
                  [required]="true"
                  (onSelectValue)="onChangeFinalDate($event)"
                  #date></ugl-datepicker>
</div>
