.tooltip {
  position: absolute;
  display: none;
  min-width: 90px;
  min-height: 33px;
  padding: 10px;
  font-size: .625rem;
  color: color(_others, 'light');
  background-color: color(_others, 'dark-alpha');
  border-radius: 5px;

  @include mobile() {
    font-size: .714rem;
  }
}

.tooltip.tooltip-animation {
  @include cross-browser(animation, tooltip-fadeIn 150ms ease-out);
}

.tooltip > .tooltip-arrow {
  position: absolute;
  border-color: color(_others, 'dark-alpha');
  border-style: solid;
}

.tooltip[x-placement^=top],
.tooltip[x-placement^=bottom],
.tooltip[x-placement^=right],
.tooltip[x-placement^=left] {
  display: block;
}

.tooltip[x-placement^=top] {
  margin-bottom: 14px;
}

.tooltip[x-placement^=top] > .tooltip-arrow {
  margin-top: 0;
  margin-bottom: 0;
  left: calc(50% - 5px);
  bottom: -10px;
  border-width: 10px 6px 0 6px;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.tooltip[x-placement^=top] > .tooltip-arrow.__force-arrow {
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
}

.tooltip[x-placement^=bottom] {
  margin-top: 14px;
}

.tooltip[x-placement^=bottom] > .tooltip-arrow {
  margin-top: 0;
  margin-bottom: 0;
  top: -10px;
  left: calc(50% - 5px);
  border-width: 0 6px 10px 6px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}

.tooltip[x-placement^=bottom] > .tooltip-arrow.__force-arrow {
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-left-color: transparent !important;
}

.tooltip[x-placement^=right] {
  margin-left: 14px;
}

.tooltip[x-placement^=right] > .tooltip-arrow {
  border-width: 6px 10px 6px 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  left: -10px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^=right] > .tooltip-arrow.__force-arrow {
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  border-left-color: transparent !important;
}

.tooltip[x-placement^=left] {
  margin-right: 14px;
}

.tooltip[x-placement^=left] > .tooltip-arrow {
  border-width: 6px 0 6px 10px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  right: -10px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^=left] > .tooltip-arrow.__force-arrow {
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  border-right-color: transparent !important;
}

@-webkit-keyframes tooltip-fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes tooltip-fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
