@import '~projects/ugla/src/sass/index';

.link-external {
  display: flex;
  margin-right: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: color('_others','light');
  text-decoration: none;
  align-content: center;
  align-items: center;

  > i {
    margin-left: 5px;
    font-size: 1.25rem;
  }
}
