<h3 [ngClass]="color">Modal</h3>

<pre><code [highlight]="html"></code></pre>

<div class="visual">
  <div uglGrid [grid]="true" [col]="4" [gap]="2">
    <ugl-button
        [id]="'modal-button'"
        [style]="'border'"
        [color]="'yellow'"
        [wave]="true"
        [size]="'small'"
        (click)="openModal()"
        [title]="'Modal'">Open Modal Service</ugl-button>
  </div>
</div>
<ugl-modal (cancelClick)="onCancelModalClick()"
          (confirmClick)="onConfirmModalClick()"
          [cancelButtonText]="'Cancel'"
          [confirmButtonText]="'Confirm'"></ugl-modal>
