<ugl-toolbar [title]="'Teste'">
  
  <ugl-button
    [id]="'test-icon'"
    [size]="'small'"
    [style]="'icon'">
    <i class="material-icons">assessment</i>
  </ugl-button>
  <ugl-button
    [id]="'test-icon'"
    [size]="'small'"
    [style]="'icon'">
    <i class="material-icons">alarm_add</i>
  </ugl-button>
  <ugl-button
    [id]="'test-icon'"
    [size]="'small'"
    [style]="'icon'">
    <i class="material-icons">accessible_forward</i>
  </ugl-button>
  <ugl-button
    [id]="'test-icon'"
    [size]="'small'"
    [style]="'icon'">
    <i class="material-icons">assignment_ind</i>
  </ugl-button>
  <ugl-button
    [id]="'test-icon'"
    [size]="'small'"
    [style]="'icon'">
    <i class="material-icons">delete_outline</i>
  </ugl-button>
</ugl-toolbar>