<section class="central padding">
  <ugl-page-title [firstTitle]="'Dev'" [secondTitle]="'Tests'"></ugl-page-title>

  <div uglGrid [grid]="true" [col]="2">
    <ugl-datepicker [label]="'Initial Date'"
                    [name]="'initialDate'"
                    [options]="onInitDatepicker()"
                    [message]="'Initial date must be before final date'"
                    [messageRequired]="'Field required'"
                    [invalid]="false"
                    [required]="true"
                    [messageInvalidSelection]="'This date is invalid for selection'"
                    [language]="'en-US'"
                    (onSelectValue)="onChangeInitialDate($event)"
                    #initialDate></ugl-datepicker>
  </div>

  <ugl-card-timeline
    [id]="'card-1'"
    [title]="'Title Card'"
    [info1]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nihil enim iam habes'"
    [info2]="'Tu autem negas fortem esse quemquam posse, qui dolorem malum putet.'"
    [status]="'Approve'"
    [color]="'green'"
    (cardClicked)="cardClick($event)"></ugl-card-timeline>

</section>
