<h3 [ngClass]="color">Grid</h3>

<div uglGrid [grid]=true [customCol]="'20% 20% 60%'">
  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. A mene tu? Quae similitudo in genere etiam humano apparet. At iste non dolendi status non vocatur voluptas. Quis est tam dissimile homini.</div>
  <div>Quae cum magnifice primo dici viderentur, considerata minus probabantur. In his igitur partibus duabus nihil erat, quod Zeno commutare gestiret. Deinde disputat, quod cuiusque generis animantium statui deceat extremum. Quis tibi ergo istud dabit praeter Pyrrhonem, Aristonem eorumve similes, quos tu non probas? Sed haec omittamus;</div>
  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. A mene tu? Quae similitudo in genere etiam humano apparet. At iste non dolendi status non vocatur voluptas. Quis est tam dissimile homini.</div>
</div>
