
section {
  padding: 0 1rem;

  @include mobile() {
    padding: 0;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include mobile() {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }

  &.has-header {
    margin-top: 60px; //transformar em variável

    .container {
      min-height: calc(100vh - 60px);
    }
  }

  &.has-toolbar {
    margin-top: 100px; //transformar em variável

    .container {
      min-height: calc(100vh - 100px);
    }
  }

  &.has-aside {
    margin-left: 200px;
  }

  &.has-breadcrumb {
    margin-top: 34px; //transformar em variável

    .container {
      min-height: calc(100vh - 34px);
    }
  }

  .central {
    width: 1024px;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: color(_others, 'light');
    box-shadow: 0 1rem 1rem color(_others, 'shadow');

    @include mobile() {
      width: 100%;
    }
  }
}
