$debug: false;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: color(_others, 'body');

  &.no-scroll {
    overflow-y: hidden;
  }
}

.z-top {
  z-index: map-get($z-index, menu) - 1 !important;
}

.desktop-only {
  @include mobile {
    display: none !important;
  }
}

.mobile-only {
  @include desktop {
    display: none !important;
  }
}
