%border-after {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: -.5rem;
}

.has-toolbar {
  form.simple .content {
    min-height: calc(100vh - 202px) !important;
  }

  article section {
    padding-top: 105px;
  }
}

article {
  width: 100vw;

  &:not(.no-min-height) {
    min-height: 100vh;

    section {
      min-height: 100vh;
    }
  }

  &.content-right {
    width: calc(100vw - 200px);
    min-height: 100vh;
    margin-left: 200px;

    > section {
      margin:  0 !important;
      padding: 0 !important;
    }
  }
}

section {
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;

  @include mobile() {
    width: 100%;
  }

  &:not(.central):not(.login) {
    margin-top: 1rem;
  }

  &.padding {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  &.central {
    width: 1024px;
    background-color: color(_others, 'light');
    box-shadow: 0 1rem 1rem color(_others, 'shadow');

    @include mobile() {
      width: 95%;
      background-color: color(_others, 'light');
    }
  }
}

.grid {
  display: grid;
  max-width: 100%;
  grid-template-rows: max-content;
  grid-row-gap: .5rem;
  grid-column-gap: .5rem;
  align-content: start;
  justify-content: baseline;

  @include mobile() {
    width: 100%;
    max-width: 100%;
  }

  @for $i from 1 through 6 {
    &.gap-#{$i} {
      grid-column-gap: #{$i}rem;
      grid-row-gap: #{$i}rem;

      [class^='border'] {
        &::after {
          left: -#{$i / 2}rem;
        }
      }
    }
  }

  @for $i from 1 through 12 {
    &.col-#{$i} {
      height: fit-content;
      grid-template-columns: repeat(#{$i}, 1fr);
    }

    .span-#{$i} {
      grid-column-end: span #{$i};
    }

    @include mobile() {
      &.col-sm-#{$i} {
        height: fit-content;
        grid-template-columns: repeat(#{$i}, 1fr) !important;
      }

      .span-sm-#{$i} {
        grid-column-end: span #{$i} !important;
      }
    }
  }

  .span-sm-0 {
    @include mobile() {
      display: none;
    }
  }

  + .grid {
    margin-top: .5rem;
  }

  > .fluid {
    width: 90%;
    margin: 0 14px;
  }

  > * {

    &.border {
      position: relative;

      &::after {
        @extend %border-after;
        border-left: 1px solid color(_gray, extra-light);
      }
    }

    @each $theme in $themes {
      &.border-#{$theme} {
        position: relative;

        &::after {
          @extend %border-after;
          border-left: 1px solid color(_#{$theme}, extra-light);;
        }
      }
    }
  }

  &.form-areas {
    grid-template-areas: 'left right';

    @include mobile() {
      grid-template-areas:
        'right'
        'left';
    }

    .form-area-left {
      grid-area: left;
    }

    .form-area-center {
      grid-area: center;
    }

    .form-area-right {
      grid-area: right;
    }
  }
}

[class*='toolbar'] {
  + article {
    padding: 7rem 2rem 2rem;

    @include mobile() {
      padding: calc(5rem + 40px) 1rem 2rem;
    }
  }
}

.main-content { //futuramente trocar por section
  //$header-height: 45px;
  padding: 0 1rem;

  .container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
  }

  &.has-header {
    margin-top: 60px; //transformar em variável

    .container {
      min-height: calc(100vh - 60px);
    }
  }

  &.has-toolbar {
    margin-top: 100px; //transformar em variável

    .container {
      min-height: calc(100vh - 100px);
      padding: 1rem 0;
    }
  }

  &.has-aside {
    margin-left: 200px;
  }

  &.has-breadcrumb {
    margin-top: 34px; //transformar em variável

    .container {
      min-height: calc(100vh - 34px);
    }
  }
}

.container {
  &.central {
    width: 1024px;
    padding: 1rem;
    background-color: color(_others, 'light');
    box-shadow: 0 1rem 1rem color(_others, 'shadow');
  }
}
